<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Food Rescue</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand mr-5" href="/">
            <img src="images/logo.png" class="logo " alt="">
            <span>
              Food Rescue
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link btt" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btt" href="/about"> Food Safety </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btt" href="/collaboration"> collabration </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btt" href="/contact">Contact us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btt" href="/login">login</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                FOOD SAFETY AGREEMENT
              </h2>
            </div>
            <ol>
                <li><strong>FSSAI License:</strong> All food sellers on our platform are required to possess a valid FSSAI license or registration, ensuring their compliance with essential food safety standards.</li>
                <li><strong>Product Labeling:</strong> Every food product listed on our platform comes with accurate and comprehensive labeling, including ingredient details, nutritional information, allergen disclosures, and expiry dates.</li>
                <li><strong>Quality Assurance:</strong> We implement stringent quality assurance measures to guarantee that all food products meet prescribed quality and safety standards.</li>
                <li><strong>Hygiene and Storage:</strong> Our sellers are committed to maintaining proper hygiene and storage practices to prevent contamination and uphold the quality of their food products.</li>
                <li><strong>Temperature Control:</strong> Products requiring temperature control (such as frozen or refrigerated items) are stored and transported at appropriate temperatures to prevent spoilage and foodborne illnesses.</li>
                <li><strong>Traceability:</strong> We maintain meticulous records of the source and supply chain of food products, enabling us to trace the origin of any unsafe or contaminated products.</li>
                <li><strong>Complaint Handling:</strong> We have a dedicated system in place to promptly address customer complaints related to food safety and quality issues. We encourage customers to report any concerns they may have about the products they receive.</li>
                <li><strong>Recall Plan:</strong> In the event of any food safety issues, we have a clearly defined plan for product recalls. This includes notifying customers and taking necessary actions to remove unsafe products from the market.</li>
                <li><strong>Compliance with Packaging and Advertising Regulations:</strong> We ensure that all packaging and advertising of food products on our platform comply with relevant regulations to prevent any misleading information to our customers.</li>
                <li><strong>Training and Awareness:</strong> Our food sellers and employees are educated about food safety standards and best practices, further ensuring the safety of our products.</li>
                <li><strong>Regular Audits and Inspections:</strong> We conduct routine audits and inspections of our food sellers and their products to guarantee compliance with food safety standards.</li>
                <li><strong>Collaboration with FSSAI:</strong> We work closely with the Food Safety and Standards Authority of India to stay informed about the latest regulations and guidelines, and we actively collaborate on any food safety-related issues.</li>
            </ol>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box" style="margin-top:100px;">
            <img src="images/safeguide.jpg" alt="" style="height:300px;">
            <div class=""style="margin-top:100px;">
                <img src="images/FSSAI.jpg" alt="" style="height:600px;">
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="box">
        <a href="" class="img-box">
          <img src="images/location.png" alt="" class="img-1">
          <img src="images/location-o.png" alt="" class="img-2">
        </a>
        <a href="" class="img-box">
          <img src="images/call.png" alt="" class="img-1">
          <img src="images/call-o.png" alt="" class="img-2">
        </a>
        <a href="" class="img-box">
          <img src="images/envelope.png" alt="" class="img-1">
          <img src="images/envelope-o.png" alt="" class="img-2">
        </a>
      </div>
    </div>


  </section>


  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      FOOD RESCUE
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>
